<mat-toolbar color="primary" class="mat-elevation-z8">
  <mat-card-title>Podaj dane użytkownika</mat-card-title>
</mat-toolbar>

<form [formGroup]="userForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="user-form">
    <mat-card-content>
      <div class="my-spinner" *ngIf="displaySpinner"><mat-spinner></mat-spinner></div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Imię" formControlName="firstName">
            <mat-error *ngIf="userForm.controls['firstName'].hasError('required')">
              Imię jest <strong>wymagane</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Nazwisko" formControlName="lastName">
            <mat-error *ngIf="userForm.controls['lastName'].hasError('required')">
              Nazwisko jest <strong>wymagane</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Adres email" formControlName="email" pattern="\S+@\S+\.\S+">
            <mat-error *ngIf="userForm.controls['email'].hasError('pattern')">
              Podałeś niepoprawny adres
            </mat-error>
            <mat-error *ngIf="userForm.controls['email'].hasError('required')">
              Adres email jest <strong>wymagany</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="Województwo" formControlName="voivodeship"
                        (selectionChange)="handleVoivodeshipChange($event)">
              <mat-option *ngFor="let voivodeship of voivodeships" [value]="voivodeship.value">
                {{ voivodeship.value }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="userForm.controls['voivodeship'].hasError('required')">
              Województwo jest <strong>wymagane</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="Powiat" formControlName="district"
                        (selectionChange)="handleDistrictChange($event)">
              <mat-option *ngFor="let district of districts" [value]="district.value">
                {{ district.value }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="userForm.controls['district'].hasError('required')">
              Powiat jest <strong>wymagany</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="Gmina" formControlName="community"
                        (selectionChange)="handleCommunityChange($event)">
              <mat-option *ngFor="let community of communities" [value]="community.value">
                {{ community.value }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="userForm.controls['community'].hasError('required')">
              Gmina jest <strong>wymagana</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="Miejscowość" formControlName="town" (selectionChange)="handleTownChange($event)">
              <mat-option *ngFor="let town of towns" [value]="town.value">
                {{ town.value }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="userForm.controls['town'].hasError('required')">
              Miejscowość jest <strong>wymagana</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input type="text"
                   placeholder="Ulica"
                   matInput
                   [formControl]="streetInput"
                   [matAutocomplete]="auto"
                   (input)="handleStreetChange($event)">
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="handleStreetSelectionChange($event)">
              <mat-option *ngFor="let street of streets" [value]="street.value">
                {{ street.value}}
              </mat-option>
            </mat-autocomplete>
            <mat-hint align="end">wpisz co najmniej 3 litery</mat-hint>
            <mat-error *ngIf="userForm.controls['street'].hasError('required')">
              Ulica jest <strong>wymagana</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="Kod pocztowy" formControlName="zip" (selectionChange)="handleZipChange($event)">
              <mat-option *ngFor="let zip of zips" [value]="zip.value">
                {{ zip.value }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="userForm.controls['zip'].hasError('required')">
              Kod pocztowy jest <strong>wymagany</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="Numer domu" formControlName="number">
              <mat-option *ngFor="let number of numbers" [value]="number.value">
                {{ number.value }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="userForm.controls['number'].hasError('required')">
              Numer domu jest <strong>wymagany</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
        <button id="submitButton" mat-raised-button color="warn" type="submit"
                [disabled]="!userForm.valid || userForm.untouched">Dodaj
        </button>
        <button mat-raised-button color="primary" type="button" on-click="closeForm()">Zamknij</button>
    </mat-card-actions>
    <mat-error *ngIf="message">{{message}}</mat-error>
  </mat-card>
</form>
