@import '~@angular/material/prebuilt-themes/indigo-pink.css' html, body;

body {
  margin: 5px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.float-container {
  margin-top: 10px;
}

.float-child-left {
  width: 49%;

  float: left;
  margin-right: 1px;
  margin-left: 5px;
}

.float-child-right {
  width: 49%;

  float: right;
  margin-right: 5px;
  margin-left: 1px;
}

.title {
  color: darkblue;
  text-align: center;
}
