@import '~@angular/material/prebuilt-themes/indigo-pink.css'

html, body; { height: 100%; }
body { margin: 5px; font-family: Roboto, "Helvetica Neue", sans-serif; }

.float-container {
  padding: 20px;
}

.float-child {
  width: 46%;
  height: 700px;
  float: left;
  padding: 10px;
  border: 1px solid darkgrey;
  margin-right: 5px;
  margin-left: 5px;
}

.title {
  color: darkblue;
  text-align: center;
}
